.card {
  text-align: center;
  margin-top: 10px;
}

.price {
  font-weight: bold;
  text-align: center;

  font-size: 24px;
  color: black;
}

.price:hover {
  border: 2px solid rgba(0, 0, 0, 0.15);
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description {
  margin-left: 60px;
  max-width: 20ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.description:hover {
  border: 2px solid rgba(0, 0, 0, 0.15);
}

#productImage {
  height: 200px;
  width: 180px;
}

#productImage:hover {
  border: 2px solid rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 576px) {
  #productImage {
    height: 80vw;
    width: 80vw;
  }
}
