.form-inline {
  display: inline-flex;
  margin-left: 50px;
  padding-left: 50px;
  text-decoration: none;
}

.right {
  margin-left: 10%;
}

.rightControl {
  margin-left: 10px;
  text-decoration: none;
}

.leftControl {
  margin-left: 10px;
  text-decoration: none;
}

.mevr {
  margin-left: 30px;
}

.name {
  margin-left: 2px;
}
.bolder {
  font-weight: bolder;
}

.align-left {
  text-align: left;
  margin-left: 10%;
}

.smaller {
  max-width: 100px;
  margin-left: 5px;
  border: 1.4px solid rgb(241, 99, 5);
}

.small {
  max-width: 150px;
  margin-left: 5px;
  border: 1.4px solid rgb(241, 99, 5);
}

.huisnr {
  margin-left: 20px;
}

.firstElement {
  margin-left: -20 px;
}

.nameTitle {
  margin-right: 48%;
  margin-bottom: 0;
}

.mt-5 {
}

#borderOrangeRed {
  border: 0.4px solid rgb(241, 99, 5);
  border-bottom: 3px solid rgb(241, 99, 5);
}

#borderGreen {
  border: 0.4px solid rgb(14, 231, 61);
  border-bottom: 3px solid rgb(14, 231, 61);
}

#borderGrey {
  border: 0.4px solid rgba(119, 121, 119);
}

.PostalCodeTitle {
  margin-bottom: 0;
}

.houseNumber {
  padding-left: 5em;
}

.adresDiv p {
  margin-bottom: 0;
}

.adresDiv {
  margin-top: 10px;
}

.optional {
  color: rgb(0, 0, 0, 0.4);
}

.houseNumber {
  margin-left: 10%;
}

.checkBox {
  padding-left: 10%;
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(0.5); /* IE */
  -moz-transform: scale(0.5); /* FF */
  -webkit-transform: scale(0.5); /* Safari and Chrome */
  -o-transform: scale(0.5); /* Opera */
  padding: 10px;
}
@media screen and (max-width: 500px) {
  .particulier {
    position: absolute;
    top: 4%;
    left: 20%;
  }
  .zakelijk {
    position: absolute;
    top: 9%;
    left: 11%;
  }

  .mevr {
    position: absolute;
    top: 24%;
    left: 12%;
  }
  .Dhr {
    position: absolute;
    top: 19%;
    left: 20%;
  }
}
@media screen and (max-width: 400px) {
  .particulier {
    position: absolute;
    top: 6%;
    left: 20%;
  }
  .zakelijk {
    position: absolute;
    top: 11%;
    left: 11%;
  }

  .mevr {
    position: absolute;
    top: 26%;
    left: 12%;
  }
  .Dhr {
    position: absolute;
    top: 21%;
    left: 20%;
  }
}
